.skills {
  background-color: darkslategray;
  display: flex;
  flex-direction: column;
  align-items: center;

  .top {
    height: 100%;
  }

  .bottom {
    height: 100%;
  }

  h1 {
    height: 25%;
    font-size: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icons {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;

    img {
      height: 100px;
      margin: 80px;
    }
  }
}
