@import "../../global.scss";

.contact {
  //background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    height: 40%;
    width: 60%;
    display: flex;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.644);
    color: white;
    padding: 40px;
    gap: 20px;

    @include mobile {
      height: 70vh;
      width: 80vw;
      padding: 20px;
      flex-direction: column;
      gap: 0;
    }

    .left {
      height: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;

      @include mobile {
        justify-content: space-evenly;
      }

      h2 {
        font-size: 40px;
        margin-bottom: 10px;
      }

      p {
        font-weight: 500;
        line-height: 25px;
      }
    }

    .right {
      height: 100%;
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        width: 100%;
      }

      form {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        input {
          height: 30px;
          margin-bottom: 10px;
          padding: 5px 5px;
          //background-color: lightblue;
          border: none;

          &:focus {
            outline: none;
          }
        }

        textarea {
          height: 200px;
          margin-bottom: 10px;
          padding: 5px 5px;
          //background-color: lightblue;
          border: none;

          &:focus {
            outline: none;
          }
        }

        button {
          width: 15%;
          height: 15%;
          display: flex;
          align-self: flex-end;
          justify-content: center;
          align-items: center;

          @include mobile {
            width: 20%;
            height: 10%;
          }
        }
      }
    }
  }
}
