.contact {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    height: 40%;
    width: 60%;
    display: flex;
    align-items: flex-start;
    background-color: darkgray;
    padding: 40px;
    gap: 20px;

    .left {
      height: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 40px;
        margin-bottom: 10px;
      }

      p {
        font-weight: 500;
        line-height: 25px;
      }
    }

    .right {
      height: 100%;
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: center;

      form {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        input {
          height: 30px;
          margin-bottom: 10px;
          padding: 5px 5px;
          background-color: lightblue;
          border: none;

          &:focus {
            outline: none;
          }
        }

        textarea {
          height: 200px;
          margin-bottom: 10px;
          padding: 5px 5px;
          background-color: lightblue;
          border: none;

          &:focus {
            outline: none;
          }
        }

        button {
          width: 15%;
          height: 15%;
          display: flex;
          align-self: flex-end;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
